<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "head" }}
  <title>Index</title>
</head>
<body>
  {{ template "header" }}

  <form action="/create" method="POST">
    <div>
      <label for="title">タイトル</label>
      <input name="title" id="title">
    </div>
    <div>
      <label for="describe">説明</label>
      <textarea name="describe" id="describe"></textarea>
    </div>
    <div>
      <input type="submit" value="作成">
    </div>
  </form>
  {{ range . }}
    <section>
      <p>タイトル: {{ .Title }}</p>
      <p>説明　　: {{ .Describe }}</p>
      <a href="/destroy?id={{ .Id }}">[完了]</a>
    </section>
  {{ end }}

  {{ template "footer" }}
</body>
</html>
